---
---
<div class="sobre-mi">
<h1>Sobre mí</h1>
<p>¡Hola! Soy [Tu Nombre], un apasionado desarrollador de software con un amor por la creación de aplicaciones web impactantes y funcionales. Desde que descubrí mi pasión por la programación, he estado inmerso en el mundo del desarrollo web, explorando nuevas tecnologías y desafiándome a mí mismo para mejorar constantemente mis habilidades.
    Mi enfoque principal está en el desarrollo front-end, donde disfruto dando vida a diseños creativos y funcionales utilizando HTML, CSS y JavaScript.
</p>
</div>
<style>
.sobre-mi{
    margin: 15px;
    margin-top: -35px;
}
.sobre-mi h1{
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.sobre-mi p{
    color: gray;
    text-align: left;
}

</style>

